body { background-color: #FFE3A9;}
.cambiarcolor { color: #FDB314;}
.cambiar {font-size: xx-large;color: #FDB314;text-decoration: underline;}
.fotosopa {width: 500px;cm; height: 300px;cm;}
.mover {position: absolute; right: 2cm;text-decoration: underline;}
.mover2 {position: relative; top: 19px; left: 1080px; text-decoration: underline;}
